<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Jugar Black Jack</title>
  </head>
  <body>
    <h1><%="#{@jugador1}: J-corazon, A-rombos \n #{@maquina}: 3-picas, 9-trebol"%></h1>
  </body>
</html>
