<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Jugar Black Jack</title>
  </head>
  <body>
    <h1><%="#{@jugador1}: #{@carta1.to_s}, #{@carta2.to_s}"%></h1>
    </br>
    <h1><%=  "#{@maquina}: #{@carta3.to_s}, #{@carta4.to_s}" %></h1>
  </body>
</html>
